.navbar-contianer{
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
}

.navabr-fluid{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 2%;
}

.navbar-title{
    font-size: 2rem;
    font-weight: 500;
    margin-right: 10%;
}

.title-button{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.logoimg{
    height: 4rem;
    margin-top: -3vh;
    width: fit-content;
 }

.title-links-search{
    display: flex;
    width: 100%;
}

.link-and-search-container{
    display: flex;
}

.navbar-button{
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-nav-close{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.nav-btn{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}

.nav-btn:hover{color:  #f06293;
    transition: 0.50s ease-out;
}



.navbar-nav-open{
    flex-direction: column;
    width: 100%;
}

.add-width{
    width: 80px;
}

.right-side{
    display: flex;
    align-items: center;
}

.login-signup{
    width: 800px;
    justify-content: end;
}

.logout-add-product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn{
    margin-left: 2% !important;
    font-size: 1.3rem;
    cursor: pointer;
}


.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #336dc3;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #75c333;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #75c333;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5pxrgb(9 0 0 / 13%);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #336dc3;
    --bs-btn-disabled-border-color: #ffffff;
    width: 13vw;

}