
.scrollspy-dog{
    height: fit-content;
    min-height: 185px;
    max-height: 185px;
    overflow: auto;  
    scroll-behavior: smooth;
}

.title-list-container{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
}

.hand-emoji-container{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.top-list-container{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
}

.add-overflow{
    overflow-y: auto;
    overflow-x: hidden;
}

.list-container{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bid-details-container{
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.bid-details{
    padding: 15px 0;
    margin: 0;
}

/* .dropdown-menu{
    max-height: 180px;
} */

@media only screen and (max-width: 700px){
    .bid-details{
        font-size: 0.7rem;
        padding: 2px 0;
    }
    .scrollspy-title{
        font-size: 1.1rem;
    }
    .scrollspy-sum{
        font-size: 0.9rem;
    }
    .top-list-container{
        font-size: 0.7rem;        
    }
    .scrollspy-dog{
        min-height: 200px !important;
        max-height: 200px !important;
    }
}
@media only screen and (max-width: 600px){
    .scrollspy-dog{
        min-height: 160px !important;
        max-height: 160px !important;
    }
}

@media only screen and (max-width: 500px){
    .bid-details{
        font-size: 0.6rem;
        padding: 2px 0;
    }
    .scrollspy-title{
        font-size: 1rem;
    }
    .scrollspy-sum{
        font-size: 0.8rem;
    }
    .top-list-container{
        font-size: 0.6rem;        
    }
    .scrollspy-dog{
        min-height: 200px !important;
        max-height: 200px !important;
    }
}