.alert-container{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: width 10s;
}


@keyframes example {
    from {top: 9%;}
    to {top: 8%;}
  }
  

.save-spot-alert{
    position: absolute;
    z-index: 100 !important;
    top: 8%;
    animation: example 0.4s linear alternate;
}


.alert-container-unwidth {
    display: flex;
    justify-content: center;
    transition: width 10s;
  }