#background-video{
    position: inherit;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
    width: 100%;
}


.home-page-hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-hero{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.45);
    top: 23%;
    filter: drop-shadow(8px 11px 25px black);
    height: max-content;
    width: 60%;
    border-radius: 15px;
    z-index: 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.move-under-nav {
    padding-top: 0;
}

.hero-btn{
    margin-bottom: 10px;
}

.hero-title{ 
    font-size: 5rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 1200px){
    .hero-title{ 
        font-size: 4rem;
    }

    .hero-btn-container{
        font-size: 1.2rem !important;
    }
}

@media only screen and (max-width: 900px){
    .hero-title{ 
        font-size: 3rem;
    }

    .hero-btn-container{
        font-size: 1rem !important;
    }

    .hero-btn{
        margin-top: 20px !important;
    }

    .hero-sub-title{
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 700px){
    .hero-title{ 
        font-size: 2rem;
    }

    .hero-btn-container{
        font-size: 0.7rem !important;
    }

    .hero-btn{
        margin-top: 10px !important;
    }

    .hero-sub-title{
        font-size: 0.9rem;
    }
}

.hero-btn-container{
    font-size: 1.5rem;
}

.hero-btn{
    margin-top: 40px;
    padding: 10px 15px 13px 15px;  
    background-color: #336cc2;
    border-radius: 10px;
    border-color: transparent;
}

.hero-btn:hover{
    background-color: white;
    transition: 0.50s ease-out;
}

