.explaination-contianer{
    background-color: white;
    direction: rtl;
}

.volunteering-text{
    font-size: 130%;
    margin: 3% 0;
    
}

.vulonteertitle{
    color: #336ec3;
    font-size: 7vh;
}

.hole{
    height: 10vh;
}

.volunteering-details-container{
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: row;
}

.volunteering-details{
    display: flex;
    justify-content: center;
    width: 70%;
}

.volunteering-descriptopn{
    width: 80%;
}

.hand-logo{
    height: 8vh;
}

.hours{
    margin-top: 10vh;
}

.delete-btn{
    font-weight: 700;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    display: flex;
    width: fit-content;
    width: fit-content;
    text-decoration: underline;
}
