.dog-card-container{
    max-width: 200px;
    min-width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: transparent;
    border-radius: 10%;
}

.dog-card-image{
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
    border-radius: 1.5%;
}


@media only screen and (max-width: 800px){
    .dog-card-container{
        max-width: 150px;
        min-width: 150px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .dog-card-image{
        max-height: 200px !important;
        min-height: 200px !important;
    }
}
@media only screen and (max-width: 400px){
    .dog-card-container{
        max-width: 150px;
        min-width: 150px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 40px;
    }

    .dog-card-image{
        max-height: 200px !important;
        min-height: 200px !important;
    }
}

.dog-card{
    box-shadow: rgba(4, 17, 29, 0.623) 0px 0px 8px 0px;
    font-size: 0;
}

.dog-card:hover .dog-card-description{
    font-size: 0.65rem;
    transition: 0.2s ease-in-out;
}

.dog-card:hover .dog-details{
    font-size: 0.8rem;
    transition: 0.2s;
}

.dog-card:hover .dog-card-image {
    opacity: 0.5;
}

.limited-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
}


.dog-card-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

.dog-card-title.card-title{
    font-size: 2rem;
    font-weight: bolder;
    color: #f06294;
}

.dog-card-details{
    font-size: 0.7rem;
}

.my-dog-badge{
    background-color: rgb(247, 12, 12);
    padding: 0.2% 2.5%;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 0.7rem;
    color: white;
    font-weight: 600;
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;
    width: max-content;
    top: 0px;
    left: 120px;
}








