.general-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    background: hsla(209, 79%, 85%, 1);

    background: linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B9D9F7", endColorstr="#EEF6FC", GradientType=1 );
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.displays-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.add-size{
    font-size: 2rem;
}

.list-emoji{
    transform: rotate(180deg);
}