.general-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: orange;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}