.general-body{
    width: 80%;
    height: 80%;
    background-color: rgba(227, 227, 227, 0.6);
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    border-radius: 5px;
}

.children-container{
    height: 85%;
}

.add-overflow{
    overflow-y: auto;
}

.new-dog{
    position: fixed;
    top: 90%;
    right: 2%;
}
.new-mission{
    position: fixed;
    top: 90%;
    left: 2%;
}