
.navbar-contianer{
    width: 100%;
    /* background-color: #3140a3d3; */
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    position: fixed;
    background-color: #6ba2c6d3;
    z-index: 100;
    flex-wrap: wrap;
}

.navabr-fluid{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 2%
    /* color: white; */
}

.navbar-title{
    font-size: 2rem;
    font-weight: 500;
    margin-right: 10%;
}

.title-button{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.title-links-search{
    width: 100%;
}

.link-and-search-container{
    display: flex;
    flex-direction: row-reverse;
}

.navbar-button{
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-nav-close{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* width: 100%; */
}

.navbar-nav-open{
    flex-direction: column;
    width: 100%;
}

.remove-underline{
    text-decoration: none;
    color: black;
}

.add-width{
    width: 80px;
    /* color: white; */
}

.search-input-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input{
    max-height: 80%;
    width: 30vw;
    max-width: 200px;
}

.avatar{
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    object-fit: cover;
    max-height: 55px;
    min-height: 55px;
}

.add-product-container{
    margin-right: 3%;
}

.search-dropdown-title{
    margin-left: 3% ;
}

.search-dropdown-list{
    font-size: 0.8rem;
    width: 100%;
    max-width: 200px;
    left: none;
}

.unfound-dropdown-item{
    margin-left: 6% ;
} 
 
.right-side{
    display: flex;
    align-items: center;
}

.login-signup{
    width: 800px;
    justify-content: end;
}

.logout-add-product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-borders{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.logout-icon-container{
    font-size: 1.4rem;
    /* color: white; */
}

.popper {
    position: absolute;
    height: 0px;
    font-size: 0;
  }
  
.remove-borders:hover .popper {
    color: white;
    display: block;
    position: absolute;
    z-index: 10;
    background-color: rgba(109, 108, 108, 0.781) !important;
    border-radius: 8px;
    height: fit-content;
    width: max-content;
    padding: 5px 8px 0 8px !important;
    left: 0.5%;
    font-size: 0.7rem !important;
    transition-delay: 0.5s;
}

.logout-btn{
    margin-left: 2% !important;
    font-size: 1.5rem;
    cursor: pointer;
}

.add-product-btn-size{
    font-size: 0.8rem;
    padding: 5px 7px;
}

.badge-container{
    
}

.my-badge{
    background-color: rgb(247, 12, 12);
    padding: 0.1% 0.35%;
    border-radius: 10px;
    font-size: 0.5rem;
    color: white;
    font-weight: 800;
    position: absolute;
    z-index: 1;
    width: max-content;
    top: 13px;
    left: 88px;
}








