.max-height{
    max-height: 180px;
}

.scrollspy-dog-container{
    height: 280px;
    max-height: 280px;
    margin-top: 0.5rem;
    overflow: auto;  
    scroll-behavior: smooth;
}
.mdal-and-opition{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 700px){
    .bid-details{
        font-size: 0.7rem;
        padding: 2px 0;
    }
    .scrollspy-title{
        font-size: 1.1rem;
    }
    .scrollspy-sum{
        font-size: 0.9rem;
    }
    .top-list-container{
        font-size: 0.7rem;        
    }
    .scrollspy-dog{
        min-height: 200px !important;
        max-height: 200px !important;
    }
}
@media only screen and (max-width: 600px){
    .scrollspy-dog{
        min-height: 160px !important;
        max-height: 160px !important;
    }
}

@media only screen and (max-width: 500px){
    .bid-details{
        font-size: 0.6rem;
        padding: 2px 0;
    }
    .scrollspy-title{
        font-size: 1rem;
    }
    .scrollspy-sum{
        font-size: 0.8rem;
    }
    .top-list-container{
        font-size: 0.6rem;        
    }
    .scrollspy-dog{
        min-height: 200px !important;
        max-height: 200px !important;
    }
}

.accordion-body-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mdal-and-opition{
    border: 1px black solid;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.mdal-and-opition:hover{
    background-color: rgba(105, 105, 105, 0.199);
}

.neighborhood{
    cursor: pointer;
    color: var(--bs-link-color);
    text-decoration: underline;
}