.filter-btn{
    background-color: #beb8b7;
    border: transparent;
    box-shadow: 1px 1px 6px 0px rgb(4 17 29 / 50%);

    margin: 10%;
    color: black;
    font-size: larger;
    font-weight: 900;
}

@media only screen and (max-width: 400px){
    .filter-btn{
        margin-bottom: 30%;
    }
}

.filter-btn:hover{
    background-color:black !important;
    transition: 0.45s ease-in-out;
    color: white;
}