.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.save-your-spot-btn{
    position: fixed;
    z-index: 12;
    right: 30px;
    bottom: 30px;
}

.dog-hand{
    margin-top: 75px;
    align-items: center;
    height: 15vh;
}

.adoption-title{
    font-size: 8vh;
    font-weight: bold;
    color: #4cb7f1;
    font-family: emoji;
}

@media only screen and (max-width: 400px){
    .adoption-title{
        font-size: 5vh;
    }

    .dog-hand{
        height: 10vh;
    }
}

/* .adopted-top{
    height: 40vh;
} */

