.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 55px;
    background: hsla(209, 79%, 85%, 1);
    background: linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(209, 79%, 85%, 1) 0%, hsla(206, 70%, 96%, 1) 65%, hsla(206, 70%, 96%, 1) 85%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%, hsla(203, 100%, 97%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B9D9F7", endColorstr="#EEF6FC", GradientType=1 );
}

.right-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px){
    .right-side-container{
        width: 100%;
    }
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 50vh;
    box-shadow: rgb(4 17 29 / 25%) 3px 0px 10px 8px;
    border-radius: 10px;
    background-color:#d4f3d58f;
    font-family: ui-monospace;
    
}

.form-contianer{
    width: 85%;
}

.password-input-contianer{
    display: flex;
}

.password-input{
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.eye-button{
    border-color: rgb(216, 215, 215);
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.eye-button:hover{
    border-color: rgb(216, 215, 215) !important;
    color: black !important;
    background-color: white !important;
}

.forgot-password-contianer {
    display: flex;
    color: #212529;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;}

.stay-signed-container{
    display: flex;
    align-items: center;
}