.footer-container-without-mt {
  display: flex;
  flex-direction: row;
  background-color: wheat;
  background: wheat;
  background: -webkit-linear-gradient(to right, wheat, wheat);
  background: linear-gradient(to right, wheat, wheat);
  width: 100vw;
  height: 87vh;
}

.form-contact-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.form-container {
  width: 80%;
  padding-top: 4vh;
  padding-left: 5%;
}

.form-control {
  direction: rtl;
}

.details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: 500;
  width: 100%;
}

.input-title-container p {
  color: black;
}

.must-asterisk {
  color: red;
}

.radio-btns-container p {
  color: black;
}

.form-container-page1-third-dogSize {
  color: black;
}

.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.form-container-page1 {
  margin: 3%;
}
.form-container-page2 {
  margin: 3%;
}

.dropdown-size {
  display: flex;
}

@media only screen and (max-width: 850px) {
  .dropdown-size {
    margin-top: 1rem;
    flex-direction: column;
  }

  .form-container-page1 {
    margin: 6%;
  }
}
